@import "../../utilities/style";
$p-81: toRem(80);

.container {
  width: 100%;
  padding: 0 5%;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);

  .wrapper {
    height: toRem(80);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 1440px) {
      max-width: 1328px;
    }
    @media (min-width: 1920px) {
      max-width: 1520px;
    }
  }

  .title-app {
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    cursor: pointer;

    @media only screen and (max-width: $mobile) {
      font-size: 18px;
      line-height: 20px;
    }
  }

  .toggle-theme-group {
    display: flex;
    align-items: center;
    gap: 1rem;

    .btn-toggle-container {
      height: 20px;
      width: 40px;

      display: flex;
      align-items: center;

      padding: 0 3px;

      border-radius: 12px;

      cursor: pointer;

      position: relative;

      .btn-toggle {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        position: absolute;
        transition: all 0.2s ease-in-out;
        outline: 1px solid;
      }
    }

    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }

    @media only screen and (max-width: $mobile) {
      gap: 8px;
    }
  }

  &.dark {
    background-color: $Dark-Blue-Dark-Mode-Elements;
    color: $White-Dark-Mode-Text-Light-Mode-Elements;

    transition: background-color 0.3s ease-in;

    .btn-toggle-container {
      background-color: $White-Dark-Mode-Text-Light-Mode-Elements;

      .btn-toggle {
        background-color: $Dark-Blue-Dark-Mode-Elements;
      }
    }

    i {
      color: $White-Dark-Mode-Text-Light-Mode-Elements;
    }
  }

  &.light {
    background-color: $White-Dark-Mode-Text-Light-Mode-Elements;
    color: $Very-Dark-Blue-Light-Mode-Text;

    transition: background-color 0.3s ease-in;

    .btn-toggle-container {
      background-color: $Very-Dark-Blue-Light-Mode-Text;

      .btn-toggle {
        background-color: $White-Dark-Mode-Text-Light-Mode-Elements;
      }
    }

    i {
      color: $Very-Dark-Blue-Light-Mode-Text;
    }
  }
}
