<div class="container" [ngClass]="isDark ? 'dark' : 'light'">
  <h2 class="title-app" (click)="handleGotoHome()">Where in the world?</h2>
  <div class="toggle-theme-group">
    <i class="bi bi-brightness-high-fill" (click)="handleToggleTheme()"></i>
    <span
      class="btn-toggle-container"
      (click)="handleToggleTheme()"
      [style.justify-content]="isDark ? 'flex-end' : 'flex-start'"
    >
      <span class="btn-toggle"></span>
    </span>
    <i class="bi bi-moon-fill" (click)="handleToggleTheme()"></i>
  </div>
</div>
