<div class="container" [ngClass]="isDark">
  <h2 class="title-app" (click)="handleGotoHome()">Where in the world?</h2>
  <div class="toggle-theme-group">
    <button (click)="handleToggleTheme('light')">
      <i class="bi bi-brightness-high-fill"></i>
    </button>
    <div
      class="btn-toggle-container"
      (click)="handleToggleTheme(isDark == 'dark' ? 'light' : 'dark')"
    >
      <span
        class="btn-toggle"
        [style.left]="isDark == 'dark' ? '23px' : '3px'"
      ></span>
    </div>
    <button (click)="handleToggleTheme('dark')">
      <i class="bi bi-moon-fill"></i>
    </button>
  </div>
</div>
