@import "../../utilities/style";

.countainer {
  padding: 80px;

  display: flex;
  flex-direction: column;
  row-gap: 80px;

  @media only screen and (max-width: 550px) {
    padding: 40px 28px;
    row-gap: 64px;
  }

  .goback {
    width: toRem(136);
    height: toRem(40);

    border: none;
    border-radius: 6px;
    cursor: pointer;

    font-weight: 300;
    font-size: 16px;
    line-height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
  }

  .country-detail-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 24px;

    @media only screen and (max-width: 1250px) {
      column-gap: 32px;
      > div {
        flex: 1;
      }
    }

    @media only screen and (max-width: 1000px) {
      flex-direction: column;
      align-items: normal;
      row-gap: 44px;

      .country-image,
      .country-detail-borders {
        max-width: none !important;
        width: 100% !important;
      }
    }

    .country-image {
      max-width: 560px;
      height: toRem(401);

      img {
        width: 100%;
        height: 100%;
      }
    }

    .country-detail-borders {
      width: toRem(574);

      display: flex;
      flex-direction: column;
      row-gap: 50px;

      @media only screen and (max-width: 1000px) {
        row-gap: 32px;
      }

      .name {
        font-weight: 600;
        font-size: 16px;
        line-height: 32px;
      }
      .value {
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
      }

      .detail-container {
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 600px) {
          flex-direction: column;
          row-gap: 32px;
        }

        .detail-1,
        .detail-2 {
          display: flex;
          flex-direction: column;
          row-gap: 16px;

          .title {
            margin-bottom: 8px;
          }

          > span {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            column-gap: 8px;
          }
        }
      }

      .border-container {
        display: flex;
        gap: 8px;

        @media only screen and (max-width: $mobile) {
          flex-direction: column;
          gap: 16px;
        }

        .name {
          display: block;
        }

        .borders {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;

          span {
            display: inline-block;
            padding: 5px 24px;
            cursor: pointer;
          }
        }
      }
    }
  }

  &.dark {
    @include dark;
  }
  &.light {
    @include light;
  }
}
