@import "../../utilities/style";

.container {
  padding: toRem(48) toRem(80);

  position: relative;

  @media only screen and (max-width: 768px) {
    padding: 40px;
  }
  @media only screen and (max-width: 500px) {
    padding: 40px 24px;
  }

  .filter-search-container {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 850px) {
      flex-direction: column;
      gap: 40px;
    }

    @media only screen and (max-width: 768px) {
      gap: 24px;
    }
  }

  .cards-countries-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;

    padding-top: 75px;

    .card-wrapper {
      flex: 1;

      display: flex;
      justify-content: center;
    }

    .card {
      width: 100%;
      height: toRem(350);

      box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
      border-radius: 5px;

      cursor: pointer;

      &__image {
        height: 180px;
        overflow-y: hidden;

        img {
          width: 100%;
          border-radius: 5px 5px 0 0;
        }
      }

      &__description {
        padding: 24px;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        .title {
          font-weight: 800;
          font-size: 18px;
          line-height: 26px;
        }

        > span {
          display: flex;
          align-items: center;
          column-gap: 8px;
        }

        .name {
          font-weight: 600;
          font-size: 14px;
          line-height: 16px;
        }

        .value {
          font-weight: 500;
          font-size: 13px;
          line-height: 16px;
        }
      }
    }
    @media only screen and (max-width: 1500px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media only screen and (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media only screen and (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: 560px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .search-group {
    width: toRem(480);
    height: toRem(56);

    display: flex;
    align-items: center;

    position: relative;

    @media only screen and (max-width: 768px) {
      width: 100%;
    }

    @media only screen and (max-width: 450px) {
      height: toRem(48);
    }

    input {
      display: flex;

      width: 100%;
      height: 100%;

      padding-left: toRem(60);

      box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
      border-radius: 5px;
      border: none;
      outline: none;
    }

    .icon {
      position: absolute;
      left: toRem(24);

      cursor: pointer;
    }

    .resultat-search {
      position: absolute;
      top: 56px;
      left: 0;
      right: 0;
      z-index: 100;

      padding: 8px 0;
      margin-top: 8px;
      list-style: none;

      max-height: 250px;
      overflow-y: auto;

      li {
        border-bottom: none;

        font-size: 17px;
        font-weight: 600;
        line-height: 22px;

        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 32px;

        img {
          width: 40px;
          height: 40px;
        }
        cursor: pointer;
      }
    }
  }

  .filter-group {
    position: relative;

    width: toRem(200);
    height: 20px;

    @media only screen and (max-width: 450px) {
      width: 100%;
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;

      font-weight: 700;
      font-size: 18px;
      line-height: 20px;

      &:hover {
        cursor: pointer;
      }

      @media only screen and (max-width: 450px) {
        width: 100%;
      }
    }

    ul {
      box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
      border-radius: 5px;

      font-weight: 400;
      font-size: 14px;
      line-height: 20px;

      list-style: none;

      display: flex;
      flex-direction: column;

      position: absolute;
      top: calc(100% + 16px);
      left: 0;
      width: 100%;

      z-index: 10;
      overflow: hidden;
    }

    li {
      padding: 8px 24px;
    }
  }

  &.dark {
    @include dark;

    .sub-element {
      background-color: #111b21;

      li {
        border-top: 1px solid #222e35;
        $border-bottom: 1px solid #222e35;

        &:nth-last-child(1) {
          border-bottom: 1px solid #222e35;
        }

        &:hover {
          cursor: pointer;
          background-color: #222e35;
        }
      }
    }
  }

  &.light {
    @include light;

    .sub-element {
      background-color: #ffffff;

      li {
        border-top: 1px solid #e9edef;
        $border-bottom: 1px solid #e9edef;

        &:nth-last-child(1) {
          border-bottom: 1px solid #e9edef;
        }

        &:hover {
          cursor: pointer;
          background-color: #e9edef;
        }
      }
    }
  }

  .goto-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;

    cursor: pointer;
    transform: rotate(-90deg);

    i {
      font-size: 4rem;
    }
  }
}
